* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: 'Poppins';
    font-style: normal;
}

.intro {
    height: 100vh;
    background-size: cover;
    background: no-repeat center/100% url("./image/intro.jpg");
}

h1 {
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 110px;
    margin-bottom: 27px;
}

h4 {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.button-intro {
    width: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    background: #2091F9;
    border-radius: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 90px;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1210px;
    min-height: 156px;
    align-items: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

nav {
    max-width: 437px;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
}

.intro-icons {
    max-width: 171px;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
}

.intro-logo {
    width: 186px;
    height: 58px;
    flex-grow: 1.8;
}

.features-container {
    margin: 0 auto;
}

.features {
    display: flex;
    max-width: 870px;
    justify-content: space-between;
    margin: 0 auto;
}

h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 25px;
    margin-bottom: 20px;
}

.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
}

.features img {
    margin-top: 90px;
    height: 46px;
    width: 46px;
}

.features-item {
    text-align: center;
    max-width: 255px;
}

.features-header {
    text-align: center;
    margin-top: 126px;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.features-description {
    margin: 0 auto;
    max-width: 532px;
    margin-top: 27px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
}

.fingertips {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
    height: 725px;
    align-items: center;
}

.right-container {
    padding: 0px 63px;
    max-width: 544px;
    max-height: 500px;
    width: auto;
}

.input {
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    padding: 19px 39px;
}

.email-container {
    display: flex;
    align-items: center;
}

.email-container button {
    margin-top: 0;
}

h3 {
    max-width: 174px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;

}

h2 {
    max-width: 324px;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.paragraphe {
    max-width: 301px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #374754;
}

.clients {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: #374754;
    margin-bottom: 15px;
}

.client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 40px;
    position: static;
    width: 273px;
    height: 163px;
    left: 0px;
    top: 1px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;

}

.clients-container {
    display: flex;
    align-items: center;
    padding: 0px;
    max-width: 1075px;
    margin: 0 auto;
}

.partners {
    display: flex;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    position: static;
    justify-content: center;
}

.calendars {
    display: flex;
    text-align: center;
    position: static;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    justify-content: center;
}

.button-class {
    width: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    background: #2091F9;
    border-radius: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 70px;
}

.most-pricing {
    margin-top: 200px;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.most-logo {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.back {
    background-color: #252B42;
    margin: 0 auto;
}

.intro-border {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;

    width: 1105px;
    height: 693px;

}

.tarifs-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    gap: 21px;
    width: 1105px;
}

.border {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: static;
    width: 335px;
    height: 607px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.free {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.organize {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #374754;
}

.pricing-box {
    left: 7.75%;
    right: 7.75%;
    top: 20.83%;
    bottom: 20.83%;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.zero {
    width: 55px;
    height: 84px;
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.standart-logo {
    width: 113px;
    height: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.border-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 83px 40px;
    gap: 30px;
    width: 335px;
    height: 693px;
    background: #2091F9;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.organaize-logo {
    width: 148px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.pricing-logo {
    width: 95px;
    height: 28px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.button-box {
    width: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    background: #ffffff;
    border-radius: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #01a2ff;
    margin: 0 auto;
    margin-top: 90px;
}

.bussines-logo {
    width: 104px;
    height: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;

}

.organaize-box {
    width: 148px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #374754;
}

.button-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 38px;

    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    background: #2091F9;
    border-radius: 35px;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 90px;
}

.your-name {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 20px;
    gap: 47px;
    width: 353px;
    height: 54px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
}

.input-contact {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 20px;
    gap: 47px;
    width: 353px;
    height: 54px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
}

.contact-us {
    margin: 0 auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;

}

.contact-us-main {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.most-calendars-main {
    margin-top: 27px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;

}

.border-us {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 52px 50px;
    gap: 45px;
    width: 453px;
    height: 669px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;

}

.message {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 20px;
    gap: 47px;
    width: 353px;
    height: 193px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
}

.submite-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 38px;
    gap: 10px;
    width: 145px;
    height: 56px;
    background: #2091F9;
    border-radius: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footer {
    
    background-color: #252B42 
}

.footer-container{
    display: grid;
    margin: 0 auto;
  width: 1200px;
  grid-template-areas: 
  "h n c";
}

.heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.main-ul li{
    margin-top: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.footer-list-1{
    grid-area: h;
}
.footer-list-2{
    grid-area: n;
}
.footer-list-3{
    grid-area: c;
}